button {
  border: none;
  background-color: #505050;
  font-size: 20px;
  color:#FFFFFF;
  font-weight: bold;
  cursor: pointer; 
  border-radius:  5px;
  outline: none;
}

.arthimetic {
  border: none;
  background-color: #FF9500;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius:5px;
  outline: none;
}


/*.arthimetic:hover{
  background-color: rgb(243, 61, 29);
}*/
.equals {
  grid-column: 3 / 5;
  background-color: #FF9500;
}
/*
button:hover {
  background-color: #D4D4D2;
}



.equals:hover {
  background-color: rgb(243, 61, 29);
}
*/